<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>

        <form action="submit" method="POST">{% csrf_token %}
             <div align="center">
                <h1>login</h1>

                <label>Usuario : </label>
                <input type="text" name="username"><br><br>
                <label>Senha : </label>
                <input type="password" name="password"><br><br>

                <button type="submit">Entrar</button>
               </div>
        </form>



</body>
</html>